body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}
header{
    background: #333;
    padding: 20px;
    text-align: center;
}
header h1{
    color: white;
    margin: 0;
}
nav a{
    color: #ddd;
    margin: 0 10px;
    text-decoration: none;
}
.hero{
    background: white;
    padding: 60px;
    text-align: center;
}
.hero h2{
    margin: 0;
}
button{
    padding: 10px 20px;
    border:none;
    background: #333;
    color: white;
    cursor: pointer;
}
.content{
    padding: 30px;
    background: #fff;
    margin: 20px;
    border-radius: 5px;
}
footer{
    background: #333;
    color: #ccc;
    text-align: center;
    padding: 10px;
}